<mat-tab-group>
    <mat-tab label="Thêm danh mục" [formGroup]="DanhMuc">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <app-input formControlName="name" placeholder="Tiêu đề"></app-input>
                </div>
                <div class="col-md-5">
                    <app-input formControlName="url" placeholder="Đường dẫn"></app-input>
                </div>
                <div class="col-md-6">
                    <app-input formControlName="parentId" placeholder="Danh mục cha" type="select" [data]="{ options: options }"></app-input>
                </div>
            </div>
            <div class="center">
                <button mat-raised-button color="primary">Lưu</button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>