:host ::ng-deep {
  body {
    margin: 0px!important;
  }
  .body-page { 
    background: linear-gradient(rgba(4, 4, 4, 0.45), rgb(39, 13, 26)),url('../assets/images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    background-color:black;
  }
}