<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="#" aria-label="">
      D-blog
    </a>
  
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item" *ngFor="let item of listMenu" [ngClass]="{'dropdown': item.ListChild}">
          <a class="nav-link " href="/" *ngIf="item.ListChild.length < 1">{{item.Ten}}</a>

          <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  *ngIf="item.ListChild.length > 0">
            {{item.Ten}}
          <div class="ripple-container"></div>
        </a>
          <div class="dropdown-menu" aria-labelledby="bd-versions"  *ngIf="item.ListChild.length > 0">
            <a class="dropdown-item"  *ngFor="let itemChild of item.ListChild; let i = index" [ngClass]="{'actice': i==0}" href="">{{itemChild.Ten}}</a>
          </div>

        </li>
      </ul>
    </div>
  </header>
<div class="container-full">
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="footer">
    Copyright © 2018 Cao Dũng. All Rights Reversed
</div>